<div>
  <div class="card">
    <div class="card-header">
      <!-- Paises -->

      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-globe-americas"></i>
          </div>
        </div>
        <select class="form-control">
          <option value="">Opción A</option>
          <option value="">Opción A</option>
          <option value="">Opción A</option>
          <option value="">Opción A</option>
          <option value="">Opción A</option>
        </select>
      </div>
    </div>
    <div class="card-body">
      <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [options]="doughnutChartOptions"
      [plugins]="doughnutChartPlugins" [legend]="doughnutChartLegend">
    </canvas>

    </div>
  </div>
</div>

