<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Datos Covid 19</h1>
  <form action="">
    <div class="form-row d-flex-justify-contend-between">
      <!-- Fecha de inicio -->
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
          </div>
          <input type="text" class="form-control">
        </div>
      </div>
      <!-- Fecha hasta -->
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
          </div>
          <input type="text" class="form-control">
        </div>
      </div>
      <!-- Paises -->
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-globe-americas"></i>
            </div>
          </div>
          <select class="form-control">
            <option value="">Opción A</option>
            <option value="">Opción A</option>
            <option value="">Opción A</option>
            <option value="">Opción A</option>
            <option value="">Opción A</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>

<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
